@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    src: url('/public/fonts/NotoSans-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: Bold;
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    src: url('/public/fonts/NotoSans-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: Regular;
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    src: url('/public/fonts/NotoSans-Thin.ttf') format('ttf');
    font-weight: 100;
    font-style: Thin;
}

@font-face {
    font-family: 'Noto Sans CJK SC';
    font-style: normal;
    src: url('//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Bold.otf') format('otf');
    font-weight: 700;
    font-style: Bold;
}
@font-face {
    font-family: 'Noto Sans CJK SC';
    font-style: normal;
    src: url('//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Regular.otf') format('otf');
    font-weight: 400;
    font-style: Regular;
}
@font-face {
    font-family: 'Noto Sans CJK SC';
    font-style: normal;
    src: url('//fonts.gstatic.com/ea/notosanssc/v1/NotoSansSC-Thin.otf') format('otf');
    font-weight: 100;
    font-style: Thin;
}

@font-face {
    font-family: 'Noto Sans CJK TC';
    font-style: normal;
    src: url('//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf') format('otf');
    font-weight: 700;
    font-style: Bold;
}
@font-face {
    font-family: 'Noto Sans CJK TC';
    font-style: normal;
    src: url('//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf') format('otf');
    font-weight: 400;
    font-style: Regular;
}
@font-face {
    font-family: 'Noto Sans CJK TC';
    font-style: normal;
    src: url('//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf') format('otf');
    font-weight: 100;
    font-style: Thin;
}
